# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
  'ctrl-f5': 'dbg:custom-debug'
  'f5': 'dbg:pause-continue'
  'f9': 'dbg:toggle-breakpoint'
  'ctrl-shift-f9': 'dbg:clear-breakpoints'
  'f10': 'dbg:step-over'
  'f11': 'dbg:step-in'
  'shift-f11': 'dbg:step-out'
  'shift-f5': 'dbg:stop'

'.debug-custom-panel':
  'enter': 'dbg:custom-confirm'
