// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.debug {
}

atom-text-editor::shadow {
	.debug-breakpoint {
		width: 1em;
		text-align: center;

		&:after {
			display: inline-block;
			vertical-align: middle;
			width: 0.9em;
			height: 0.9em;
			content: "";
			background: @background-color-error;
			border-radius: 50%;
			margin-top: -2px;
		}
	}
	.line-number.debug-position,
	.line-number.debug-position-error {
		position: relative;
		color: @text-color-warning;
		overflow: hidden;
		border-radius: @component-border-radius;
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			right: 0px;
			margin-top: -100px;
			border-left: 100px solid fade(@background-color-warning, 50%);
			border-top: 100px solid transparent;
			border-bottom: 100px solid transparent;
		}
	}
	.line-number.debug-position-error {
		color: @text-color-error;
		&:after {
			border-left: 100px solid fade(@background-color-error, 50%);
		}
	}
	.line.debug-position,
	.line.debug-position-error {
		border-radius: @component-border-radius;
		background: fade(@background-color-warning, 20%);
	}
	.line.debug-position-error {
		background: fade(@background-color-error, 20%);
	}
}

.debug-toolbar {
	padding: @component-padding / 2;
	border-bottom: 1px solid @base-border-color;

	.btn .icon {
		display: inline-block;
		width: 17px;
    height: 19px;
    fill: currentColor;
    vertical-align: middle;
		margin-top: -2px;
	}
}

.debug-sidebar {
	display: flex;
	flex-direction: column;
	width: 350px;
	.inset-panel {
		overflow: auto;
    flex-basis: 0;
    flex-grow: 1;
		+ .inset-panel {
			margin-top: @component-padding;
		}
		.panel-heading {
			.options {
				float: right;
			}
		}
	}
	.list-item {
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.btn.btn-sm {
		line-height: 1em;
	}

	.variable-list {
		.type {
			display: none;
		}
		&.show-types .type {
			display: inline;
		}
	}
}

@media (max-width: 1000px) {
	.debug-sidebar {
		width: 250px;
	}
}

.debug-custom-panel {
	@min-width: 200px;
	@item-width: 260px;
	@button-width: 150px;
	.panel-heading {
		position: relative;
		cursor: default;

		.action-close {
			border: 0 none;
			background: transparent;
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			cursor: pointer;

			&::before {
				width: 28px;
				margin-right: 0;
				text-align: center;
				vertical-align: middle;
			}
			&::after {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}
		}
	}
	.header {
    padding: @component-padding/4 @component-padding/2;
    min-width: @min-width;
  }
  .header-item {
    margin: @component-padding/4 0;
  }
	.btn-group {
    display: flex;
		flex: 1 1 @button-width;
		min-width: @button-width;
  }
	.btn-item {
		flex: auto;
  }
	.input-block {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		min-width: @min-width;
	}
	.body {
		display: flex;
	}
	.labeled-block {
		align-items: center;
	}
		.labeled-block label {
			margin-top: 0;
			margin-bottom: 0;
		}
	.input-select-item {
		padding-left: @component-padding / 2;
		margin-left: @component-padding;
	}
	.input-inline-block {
    display: inline-block;
		flex: auto;
  }
	.inline-block-start {
    display: flex;
		flex: none;
		padding: @component-padding / 2;
  }
	.input-block-item {
    display: flex;
		flex: 1;
		padding: @component-padding / 2;
  }
  .input-block-item--flex {
    flex: 100 1 @item-width;
  }
	.editor-container {
    position: relative;
    atom-text-editor {
      width: 100%;
    }
	}
}

.debug-variable-tooltip {
	max-height: 300px;
	overflow: hidden;
	line-height: 1.2em;
	text-align: left;
	text-overflow: ellipsis;
}
